html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.btn-primary {
   background-color: blueviolet;
   border-color: blueviolet;
}

.timer {
   padding: 14px 16px;
   color: blueviolet;
   border: 1px solid blueviolet;
}

.high-scores {
   padding: 14px 16px;
   color: blueviolet;
   border: 1px solid blueviolet;
}

